{% extends 'layout.html' %}

{% block body%}

    <h1>ABOUT US</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum enim amet ullam quidem nam debitis, voluptates odit optio eius! Eius dolorum ea vel facere, voluptates cum nihil voluptate delectus. Quod.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolores deleniti et saepe numquam! Ad, optio. Facilis atque maiores enim consequatur dolore sequi voluptate dicta, aspernatur, assumenda perferendis, deleniti debitis!</p>

{% endblock%}
